<div class="container">
    <div class="row">
        <section class="col-3">
            <div class="mb-3">
                <h5 class="text-warning ml-3">Sort</h5>
                <select class="form-select" (change)="onSortSelected($event)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
                    
                </select>
            </div>
            
            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group">
                <li class="list-group-item "  *ngFor="let brand of brands" [class.active]="brand.id===this.shopParams.brandId"
                [value]="brand.id" (click)="onBrandSelected(brand.id)">{{brand.name}}</li>

              </ul>
              <h5 class="text-warning ml-3">Types</h5>
              <ul class="list-group">
                  <li class="list-group-item " *ngFor="let type of types"
                  [class.active]="type.id===this.shopParams.typeId"
                  [value]="type.id" (click)="onTypeSelected(type.id)"
                  >{{type.name}}</li>

                </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
            <app-paging-header [totalCount]="totalCount" [pageSize]="this.shopParams.pageSize" [pageNumber]="this.shopParams.pageIndex"></app-paging-header>
            <div class="d-flex align-items-center" style="gap: 20px;">
                <input (keyup.enter)="onSearch()" type="text" class="form-control " #search style="width: 300px;" placeholder="Search">
                <button class="btn btn-outline-primary my-2" (click)="onSearch()" >Search</button>
                <button class="btn btn-outline-success  my-2" (click)="onReset()">Reset</button>
            </div>
        </div>
        
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
            
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col-4" *ngFor="let product of products | paginate: { itemsPerPage: this.shopParams.pageSize, currentPage: this.shopParams.pageIndex, totalItems: totalCount }">
                 <app-product-item [product]="product"> </app-product-item>
                 
                </div>
               
                  </div>
                  <div class="d-flex justify-content-center">
                    <div style="display: flex; justify-content: center;" *ngIf="totalCount>0">
                        <pagination-controls
                          (pageChange)="onPageChanged($event)"
                          previousLabel="&lsaquo;"
                          nextLabel="&rsaquo;"
                          firstLabel="&laquo;"
                          lastLabel="&raquo;">
                        </pagination-controls>
                      </div>
                  </div>
             
                </div>
              </div>
             
                  
             
        </section>
    </div>
</div>

